[2016-02-22 12:47] lrusnac opened #1 "TypeError"
`$ how2 python request headers`
[code]

[2016-02-22 12:52] oskarkrawczyk commented on #1
Yep, getting the same thing on some questions, for example:

[code]

[2016-02-22 13:02] santinic commented on #1
thanks, fixing it.

[2016-02-22 13:05] santinic commented on #1
it does work if you use -l properly

how2 -l python request headers
how2 -l javascript get viewport height

but it should behave like that anyhow.

[2016-02-22 13:17] danielquinn opened #3 "System package management"
This is really nifty, but there's no way I would ever use sudo and let npm write to files and directories reserved for a real system-wide package manager.  If however, it was available as an apt package, RPM, or ebuild, then adoption is more likely.

[2016-02-22 13:27] santinic commented on #3
you can try to do "npm install -g how2" without sudo if you get your local npm settings right.

https://docs.npmjs.com/getting-started/fixing-npm-permissions

I'll try to make ubuntu/homebrew packages, thanks.

[2016-02-22 13:56] arjunkomath opened #5 "TypeError: Cannot read property '1' of null"
Found this issue while selecting an answer from the list of more answers.

[code]

[2016-02-22 14:05] santinic commented on #5
thanks man, looking into it

[2016-02-22 14:35] #3 closed

[2016-02-22 14:49] danielkop commented on #1
Suggested a fix for this with #6

[2016-02-22 15:13] xrisk opened #7 "Implement text wrapping"
Words get chopped off midway. Why not wrap at 80 columns or whatever the current width of the terminal?

[2016-02-22 15:45] volumetric opened #8 "Loader in interactive mode -- Feature Request"
Consider adding a loader animation, while working in interactive mode, and browsing through questions and answers. Makes a big difference in user experience.

[2016-02-22 15:53] patrick-bark opened #9 "/usr/bin/env: node: No such file or directory"
Hey, I am trying to install on ubuntu 14.04, I had to use sudo, do to permissions issues mentioned. It installed successfully, however now when I run the the command it gives the error:
`/usr/bin/env: node: No such file or directory`

any ideas?

[2016-02-22 16:03] bendoerr commented on #9
ln -s /usr/bin/nodejs /usr/bin/node
https://github.com/nodejs/node-v0.x-archive/issues/3911#issuecomment-174877159

[2016-02-22 16:04] JonDuffy opened #10 "Add homebrew installation"
Hey,

This looks great!

Would you be able to add a homebrew distribution for OS X?
http://octavore.com/posts/2016/02/15/distributing-go-apps-os-x

cheers

[2016-02-22 16:04] Carrigan commented on #5
I also got this error, but from a different stack trace. Thought I'd post it here to help with the debugging :smile:

[code]

[2016-02-22 16:08] patrick-bark commented on #9
That worked, and this is awesome

[2016-02-22 16:10] metiscus opened #11 "Feature Request: Local Preferences"
For nearly any issue of importance, there will be several answers. I would like the option to select my preference for a particular answer and be shown that answer automatically instead of the others for a particular query. This could be accomplished by storing a dictionary of queries with the preference value, or by tagging a priority number to the hash of the answer urls (treating untagged as a

[2016-02-22 17:37] santinic commented on #5
Thanks guys. Fixed in 1.0.5, update with

npm update -g how2

[2016-02-22 17:37] #5 closed

[2016-02-22 17:38] santinic commented on #1
Fixed in 1.0.5, update with:

npm update -g how2

[2016-02-22 17:38] #1 closed

[2016-02-22 17:43] santinic commented on #9
Unfortunately seems hard to fix that for all platforms.

[2016-02-22 17:43] #9 closed

[2016-02-22 17:44] santinic commented on #7
which words ?  I think you refer to the Google results. They get chopped by Google, cannot do much about it :/

[2016-02-22 17:44] #7 closed

[2016-02-22 17:44] santinic commented on #8
I'm working on that ;)

[2016-02-22 19:18] elado opened #14 "Can"

[2016-02-22 19:18] #14 closed

[2016-02-22 19:19] elado opened #15 "Can't select text in "more choices" screens"
Using iTerm, trying to select text with the mouse.

[2016-02-22 19:35] stoutbeard opened #16 "Hotkey: `O` to "open" a list item (Same as `Enter`/`l`)"
Since you use `j`/`k` for movement, and `q` to "go back", I was expecting `o` to open the selected item in a list. I later discovered that the `l` key does the same, but for some reason my fingers wanted `o` to open the list item. Perhaps user configurable hotkeys would be nice? Or at least mention hotkeys in --help or in the readme?

[2016-02-22 20:19] fareesh opened #17 "Cannot read property '1' of null"
To reproduce (with or without quotes):

[code]

[2016-02-22 20:50] codelitt opened #19 "Add proper credit to XKCD to comply with their license"
In the interest of proper credit, should probably add a link and credit to the XKCD comic used [here](https://github.com/santinic/how2#why-)

Direct link to comic: https://xkcd.com/1168/

XKCD also provides a link for hotlinking/embedding which with attribution would be even better than just linking: http://imgs.xkcd.com/comics/tar.png

XKCD's license requests/requires this: https://xkcd.com/licen

[2016-02-22 23:00] santinic commented on #17
It's fixed in 1.0.5, please upgrade with

npm install -g how2

and see if the error is gone. Thanks

[2016-02-22 23:08] santinic commented on #19
omg, I appreciate your concern, but life is so short man

[2016-02-22 23:11] #19 closed

[2016-02-22 23:12] anuragaryan commented on #19
attribute fast or die tryin'.

[2016-02-23 04:42] noodlebreak opened #24 "Gives error on Ubuntu 14.04 LTS"
I'm getting this:

    /usr/bin/env: node: No such file or directory

I installed it as instructed in your readme.

[2016-02-23 08:15] aweiler commented on #10
Hey,
You could do as I did:

     brew install node

and then

    npm install -g how2

That's not a direct home-brew install but maybe close enough?

[2016-02-23 09:14] Foxboron commented on #16
I added `space` to open, felt more natural for me. But a config file or adding `o` shouldn't be hard.

[2016-02-23 09:23] MorganMaison opened #25 "Not handling <kdb> balisa."
To reproduce :

[code]

It's really cumbersome to read but I don't know how it should be displayed on the cli.
Can a background color do the trick ?

[2016-02-23 10:27] moscati opened #26 "Is possible to configure a proxy?"

[2016-02-23 12:05] krishkumar opened #27 "Get answer URL"
Is there a way to get the active answer's URL?

[2016-02-23 12:14] shahkaran commented on #24
I am also getting the same error

[2016-02-23 12:20] shahkaran commented on #24
@noodlebreak solved the issue .. you just need to symlink node

ln -s /usr/bin/nodejs /usr/bin/node

found it thanks to http://stackoverflow.com/a/26320915

[2016-02-23 12:32] santinic commented on #16
"o" is a bit weird. Configurable hotkey is too hard. Hotkeys in --help: absolutely.
Also "b" to open browser to that link.

[2016-02-23 12:32] santinic commented on #24
I should mention it in the docs. Thanks

[2016-02-23 12:42] santinic commented on #24
It's in the readme now

[2016-02-23 12:42] #24 closed

[2016-02-23 12:42] Foxboron commented on #16
@santinic Not really no. A simple JSON config should be enough actually. I can maybe take a look at it. `o` is pretty normal for vi users tho.

[2016-02-23 12:42] #17 closed

[2016-02-23 12:45] santinic commented on #16
json config sounds great, feel free to implement it man

[2016-02-23 13:27] santinic commented on #27
now if you press the key "b", in every list selector, it opens a browser to that link (google or stackoverflow answer link). It's in master branch

[2016-02-23 13:27] #27 closed

[2016-02-23 14:06] pauldotknopf opened #28 "How come Windows never gets any love?"

[2016-02-23 14:16] sargunv opened #29 "Change default language"
It would be nice to either read the user's default shell, or read a dotfile in the ~ or ~/.config/how2 directory to to set default language.

I use the fish shell, so will never use the default language of Bash for how2.

Currently I've set an alias in my shell.

[2016-02-23 14:44] krishkumar commented on #27
It works great. Thanks!

[2016-02-23 14:45] santinic commented on #16
"o", "space" and "b" are in 1.0.8. There is a status bar with hotkeys as well.
"npm install -g how2" to update

[2016-02-23 14:45] #16 closed

[2016-02-23 14:47] santinic commented on #28
it's not intentional, I dont have windows :(
if you want to take care of some porting issues please do

[2016-02-23 14:48] santinic commented on #26
It should take HTTPS_PROXY or HTTP_PROXY like all command line tools.
you need to make an alias though:
alias how2="HTTPS_PROXY='<your proxy>' how2"

[2016-02-23 14:50] santinic commented on #10
yes, thanks @aweiler

[2016-02-23 14:52] santinic commented on #15
@elado I disabled mouse because it gets messy with 3 windows.
Try with Enter or Space.
Make sure you upgrade again to 1.0.8 with "npm install -g how2"

[2016-02-23 14:52] #15 closed

[2016-02-23 14:55] moscati commented on #26
I use Ubuntu. All other command line tools use http_proxy and  https_proxy.
I added HTTPS_PROXY or HTTP_PROXY and it works.
Thanks

[2016-02-23 14:58] omouse opened #30 "link to alternatives?"
just a nice thought but I've included links to how2 and another tool in the docs for emacs-sos: https://github.com/omouse/emacs-sos#alternatives-to-sos-mode

not sure if you want to include links to emacs-sos or sx.el or other tools or libraries for using stackoverflow through a command-line or text editor.

[2016-02-23 15:27] santinic commented on #26
cool, happy to hear that

[2016-02-23 15:27] #26 closed

[2016-02-23 15:36] santinic commented on #30
I don't link to competitors buahauaua i couldn't care less, offer a pull request if you care thanks

[2016-02-23 15:41] santinic commented on #11
@metiscus it's really interesting, please do it

[2016-02-23 15:48] Jameskmonger opened #31 "Implement voting"
It'd be good to allow voting on questions and answers from this.

[2016-02-23 16:15] pizzamaker opened #32 "Replace Google's API"
Google is a known privacy violator and PRISM-contributor. It would be nice to have this search go through DuckDuckGo or (ideally if possible) searx.

[2016-02-23 16:17] kirbyfan64 commented on #32
Are...are you serious? I mean, I wouldn't mind the *option* to change search engines, but to *replace* it is a whole different story.

[2016-02-23 18:01] santinic commented on #32
Duckduckgo, which instead is an NGO saving kids in Africa, doesn't provide a general search API (only some very limited instant-answer api).
@pizzamaker if you can write an html scraper for ddg in nodejs I will very happily add it to the codebase. Thanks for the suggestion

[2016-02-23 18:02] santinic commented on #31
you need to log in, too hard, not worth it. Since version 1.0.8 you can press "B" to automatically open the browser, from which you can vote.
@Jameskmonger  make sure you update with "npm install -g how2"

[2016-02-23 18:30] ashwinaj opened #33 "Ability to copy text from SPACE bar options"
When I click on the space bar for more choices and select an option, a new "window" opens up. It would be nice to be able to copy the text from what's displayed.

Thanks!

[2016-02-23 18:46] santinic commented on #33
yes @ashwinaj i was trying to do it, but it's not super easy. stay tuned

[2016-02-23 20:05] #31 closed

[2016-02-23 21:34] Hammster commented on #28
I've run it on windows 10 from cmd and powershell, you have to use return after pressen SPACE though.
msys2 has a problem with process.stdin.setRawMode(true) also some issues on returning the main function when the spacebar is pressed. Or is there any other issue ?

[2016-02-23 23:23] ajgassner opened #34 "Support for Cygwin/Babun"
- ANSI colors not working
- TypeError: undefined is not a function, see attached screenshot. Maybe https://github.com/TooTallNate/keypress/issues/19 is related.

Im using Babun v1.2.0, Node v0.12.2 on Windows 10

![image](https://cloud.githubusercontent.com/assets/2866145/13270173/92d1e10c-da8c-11e5-8f9a-059397760a22.png)

[2016-02-24 00:11] Hammster commented on #34
maybe related to the same issue as with msys2 #28

[2016-02-24 01:03] cannap commented on #28
Hi, works fine for me in "cmd" but when i try in cmder it looks like so
![49adf5ac21f274fda0f92bda1528ab4e](https://cloud.githubusercontent.com/assets/1394151/13272213/c6d78200-da9a-11e5-8243-6383f53422c7.png)

thanks for this usefull tool! i like it

[2016-02-24 05:55] Hammster commented on #28
@cannap the issue here is that the unicode range is not sufficent or a offset is shifted.

either way its a problem with https://github.com/chjj/blessed or directly related to cmder i fiddled with the font settings and got it to display the characters right.

[2016-02-24 07:01] danqing opened #39 ""SyntaxError: Unexpected token <" when pressing space"
Does how2 require a min version of node?

I did `how2 scp from remote`, and then pressed Space:

[code]

[2016-02-24 07:40] Hammster commented on #39
Pull request #38 covers this issue, you need Node.js v4.0.0^ because of a ES6 at the moment, but i think it will be resolved.

[2016-02-24 08:31] yejijie opened #40 "Error: tunneling socket could not be established, cause=socket hang up : undefined"
I have to use a http proxy to connect to Google.
I get an error:

[code]

Any idea please?

[2016-02-24 08:35] danyshaanan commented on #40
Does this happen with the line mentioned in the readme?
[code]
(https://github.com/santinic/how2#can-i-use-it-behind-proxy-)

[2016-02-24 08:43] mttkay opened #41 "None of the answers I got make sense"
How does how2 resolve search queries? Here is what I searched (just to give it a spin)

Q: `$how2 scala read file`
A: `bash - Command substitution in for loop not working`

Q: `$how2 android launch activity in new task`
A: `bash - When I run ./command.sh & the background task is ...`

Q: `$how2 how to use how2`
A: `software installation - how to install .git file?`

Love the premise of the project

[2016-02-24 10:18] MorganMaison commented on #41
@mttkay You should specify the language/technology for your query with the -l option.

for example :
`$how2 -l scala read file`
`$how2 -l android launch activity in new task`

Otherwise the default technology for your search is bash.

[2016-02-24 10:33] mttkay commented on #41
Ah! A case of RTFM. Thanks!

Btw:
[code]
Known issue?

[2016-02-24 12:06] danyshaanan commented on #41
Regarding Scala:
See [this line](https://github.com/santinic/how2/blob/master/lib/index.js#L29), where how2 suggests using the `-l` flag when using certain languages names. Might be wise to create PR with Scala added (along with other likely languages).

Regarding the 'btw' - consider opening a new issue to keep everything organised and searchable.

[2016-02-24 12:18] mttkay opened #42 "Google rate limit kicking in"
While issuing a query, the app failed with the following error:

[code]

If the app is using an API key shared across all users, it might be hitting a rate limit earlier than expected?

[2016-02-24 12:18] mttkay commented on #41
:+1: https://github.com/santinic/how2/issues/42

[2016-02-24 12:19] #41 closed

[2016-02-24 12:24] santinic commented on #39
@Hammster This is a different issue. npm-latest got some weird json to parse from npmjs.org  while trying to fetch if there is a new version from how2. ES6 is only in the tests.

@danqing does it still happen ? did you try again ? I might just try-catch that bit.

[2016-02-24 12:45] danyshaanan opened #43 "`later` in 'updates.js' uses string comparison instead of int comparison."
https://github.com/santinic/how2/blob/master/lib/updates.js#L9-L17

[code]

This returns true, as the string '9' is later lexicographically than the string '10'.

This can be resolved using semver as can be [seen here](https://tonicdev.com/56cda5321f78ba0c0009a1b6/56cda5321f78ba0c0009a1b7).

If this seems right, I could make the changes with a PR.

[2016-02-24 13:06] danyshaanan commented on #42
I think that there isn't a shared API key. This might be caused by someone in your network running lots of  google api calls. (This probably makes more sense if you are in an office rather than at home).

[2016-02-24 13:11] santinic commented on #43
man you're amazing :) +1:  please do it if you have time. May magic goodness happen in your life

[2016-02-24 13:16] Hammster commented on #39
@santinic Whoospy daisy! :smile:

[2016-02-24 13:19] danyshaanan commented on #43
Will do, probably later today :]

[2016-02-24 13:23] danielkop commented on #28
Another windows issue is that by default searches go to
        site = 'site:unix.stackexchange.com';
When running on windows, perhaps it's better to search
superuser.com

can use this to determine the OS:
var isWin = /^win/.test(process.platform);

[2016-02-24 13:42] danyshaanan commented on #28
I think that `require('os').type()` might return a more standard value that will not require a regexp. (but this should be tested and I don't have a windows machine around).

[2016-02-24 14:00] danielkop commented on #28
@danyshaanan from the 'os' module's docs:
os.platform()
Returns the operating system platform. Possible values are 'darwin', 'freebsd', 'linux', 'sunos' or 'win32'. Returns the value of process.platform.

the regex is just to avoid checking for both win32 and win64.

[2016-02-24 16:51] danielkop opened #46 "Undocumented "-i" option"
In lib\index.js

[code]

What's the purpose of -i? it's undocumented.
Should it be removed (along with how2.magic) or Added to readme.md and help?

[2016-02-24 18:09] danielkop opened #50 "Additional stackexchange sources"
Scraped from http://stackexchange.com/sites?view=list#traffic

http://stackoverflow.com/
http://serverfault.com/
http://superuser.com/
http://meta.stackexchange.com/
http://webapps.stackexchange.com/
http://gaming.stackexchange.com/
http://webmasters.stackexchange.com/
http://cooking.stackexchange.com/
http://gamedev.stackexchange.com/
http://photo.stackexchange.com/
http://stats.stackexchange.com

[2016-02-24 19:28] panayotov commented on #29
Hi, can you set the alias?

in my .bashrc i have alias howto="how2 -l javascript" and it's not working

[2016-02-24 20:05] sargunster commented on #29
I use Fish:
[code]

I haven't tested bash, but it should be something like `alias howto='how2 -l fish'`

[2016-02-25 00:41] yejijie commented on #40
@danyshaanan Yes, but I use **socks5** proxy. Maybe this is the problem.

[2016-02-25 01:05] michaelben opened #52 "add "--engine google/bing" option"
Firstly google api has rate limits.
Secondly google search is unavailable in some part of the world.

[2016-02-25 12:05] #43 closed

[2016-02-25 12:07] santinic commented on #50
:+1: thanks, that is very helpful

[2016-02-25 18:33] brunoceleste commented on #46
According to the README file, it seems the -i option will be used to search for your clipboard text.

[code]

[2016-02-25 18:46] danielkop commented on #46
So it should probably be on a separate branch until ready
On Feb 25, 2016 8:33 PM, "Bruno Celeste" <notifications@github.com> wrote:

[2016-02-25 18:48] vasergen commented on #52
+1, after playing few minutes I always got an error "You are doing too many requests to Google. You need to wait a bit before trying again"(

[2016-02-25 19:07] vasergen commented on #42
Have the same problem, after playing few minutes I always got an error "You are doing too many requests to Google. You need to wait a bit before trying again"

[2016-02-26 17:17] panayotov commented on #29
Works perfect, thanks

[2016-02-27 09:23] kapouer commented on #24
Or you install http://packages.ubuntu.com/xenial/nodejs-legacy
which does the same with the benefit of not screwing your ubuntu installation.

[2016-02-27 11:15] santinic commented on #24
A symlink can definitely screw your entire life guys.
@kapouer, can you confirm the right way would be then:

$ sudo apt-get install nodejs npm nodejs-legacy
$ npm install -g how2

so i can put it in the Readme. Thanks

[2016-02-27 11:26] kapouer commented on #24
Yes, it is.
I'm also trying to provide a new name for that package nodejs-legacy because nobody ever guessed it provided a node symlink.

[2016-02-28 09:43] ahmadawais opened #55 "Unable to Copy the Code"
I am unable to copy the code from terminal when I am searching for another question with the `SPACE` and found an answer. Not able to select the code and copy it. Any help in there?

[2016-02-28 10:18] danyshaanan commented on #55
Can you provide the exact steps you take to reproduce it? Including the line you run, the `SPACE` navigation, and the output you try to copy.

[2016-02-28 10:39] ahmadawais commented on #55
See when I search for it, the first answer that I get, I can select and copy stuff from inside

![](https://i.imgur.com/P2T9Zos.png)

But when I press `SPACE` for more answers and get to an answer, there I cannot select the text or copy anything.

![](https://i.imgur.com/P2T9Zos.png)

[2016-02-28 10:41] danielkop commented on #55
@ahmadawais I think you pasted the same image twice.

Is this using ZSH? on which os?

[2016-02-28 10:59] ahmadawais commented on #55
@danielkop Can you recheck the images, just refresh?

[2016-02-28 10:59] ahmadawais commented on #55
Yes, I am using ZSH on Mac.

[2016-02-28 16:20] geekjony opened #56 "How to uninstall how2?"
I used npm to uninstall but failed.
` $ npm uninstall how2`
`npm WARN ENOENT ENOENT: no such file or directory, open '/Users/JonyMac/package.json'`
`npm WARN EPACKAGEJSON JonyMac No description`
`npm WARN EPACKAGEJSON JonyMac No repository field.`
`npm WARN EPACKAGEJSON JonyMac No README data`
`npm WARN EPACKAGEJSON JonyMac No license field.`

So how to remove how2 and its all dependencies？
Thanks

[2016-02-28 17:42] danyshaanan commented on #56
[code]

[2016-02-28 19:58] Kachilero commented on #28
Would just like to comment that MINGW64 also throws an error:
`TypeError: process.stdin.setRawMode is not a function`
as mentioned above. Although it works just fine in Windows PowerShell

[2016-02-29 09:24] h-ayat commented on #55
Same problem here.
ZSH on Arch linux

[2016-02-29 09:24] smmoosavi commented on #55
Good repo, Good issue
Same issue. I use bash in terminator in ubuntu

[2016-02-29 11:21] danyshaanan commented on #55
This is an issue with [blessed](https://www.npmjs.com/package/blessed), or with the way it is configured to run here. If you'd try to run the example code in the link above, you'll see that the text is not selectable.

[2016-02-29 13:12] mkohlmyr commented on #42
1. The how2 module does not use the Google Search API as it (to the best of my knowlege) has been deprecated in favour of Google Custom Search, which does not suit the needs of the project, not least of all  because it imposes [severe rate limits](https://developers.google.com/custom-search/json-api/v1/overview#pricing).

2. The [error](https://github.com/santinic/how2/blob/master/lib/how2.js#L59)

[2016-02-29 13:33] ahmadawais commented on #55
^Any solution for that?

[2016-02-29 19:58] nicandris commented on #42
I didn't even managed to use this once. I always get the rate limit msg

[2016-02-29 21:59] #56 closed

[2016-02-29 22:01] santinic commented on #55
@danyshaanan i think we need to add {mouse: true} to the options for all the blessed.box()

I removed it cause I was getting weird wheel scrolling, but maybe is a better bug to have than not being able to copy-paste

[2016-02-29 22:06] santinic commented on #55
it was {mouse:true}.  Either you can mouse scroll, or you can copy-paste.

It's fixed in 1.0.9. Make sure you update with "npm install -g how2"

[2016-02-29 22:10] santinic commented on #42
Yeah we need someone to write an api to scrape bing or duckduckgo

[2016-03-01 11:20] mkohlmyr commented on #42
I'm happy to take a look at implementing that in the coming week, if you'd like.

[2016-03-01 11:51] h-ayat commented on #55
Thanx for quick reply and fix.
I've updated how2 to the latest version.
Now mouse clicks and scroll does nothing,
And there's a bug in selecting multi-line text, because background boxes get selected too.

I've attached a snapshot from the bug:

![how2](https://cloud.githubusercontent.com/assets/4332421/13426192/32eb9fbe-dfc1-11e5-875b-7e622d3452ec.jpg)

[2016-03-01 12:11] danyshaanan commented on #55
@h-ayat I wouldn't call it a bug, as this is the intended behaviour of selection in the terminal, which is why I believe that it could not be resolved for the current view.

A possible alternative is to modify the way blessed is used here, and display the content of that window in full width without borders.

[2016-03-01 12:21] ahmadawais commented on #55
^Same problem here. Thanks for the update but one cannot copy more than one line.

[2016-03-01 12:54] santinic commented on #42
@mkohlmyr awesome

[2016-03-01 13:18] danielkop commented on #55
A lot of terminals have a column select (or block select) feature.
With Ubuntu try holding Ctrl+Alt before you select, or Alt+Cmd if you're in iTerm.

[2016-03-01 13:26] h-ayat commented on #55
@danyshaanan Thank you anyway.
@danielkop Very nice trick :+1:  Actually solved many problems other than this !

[2016-03-01 13:40] danielkop commented on #55
@h-ayat It also works in a lot of text editors and IDEs. Block selection changed my life :grinning:

[2016-03-01 13:57] santinic commented on #55
@danielkop such a nice trick! thanks, I'm putting it in the readme

[2016-03-01 14:19] ahmadawais commented on #55
@danielkop Thanks for the tip, I never knew that.

[2016-03-01 14:19] #55 closed

[2016-03-01 19:45] zQueal commented on #28
@Hammster Could you go into more detail as to what font settings you changed in Cmder to fix the font issues? I'm having this problem now.

![9zzhaxk](https://cloud.githubusercontent.com/assets/239193/13439586/32805308-dfbc-11e5-9b9f-a7e757ec1e29.png)

[2016-03-02 00:35] r0fls opened #57 "The name of the terminal window switches to how2 and never goes back"
If I press space, the name of the terminal switches to how2 and never goes back.

![screenshot from 2016-03-01 16 32 09](https://cloud.githubusercontent.com/assets/1858004/13446827/842bb5ee-dfcb-11e5-99ea-d74c7941b100.png)

[2016-03-02 06:20] quanghoc opened #58 "Google certificate issue when use inside company firewall"
Is there a way to use `http` instead of `https` from google? I tried `-k` or `--skip-ssl-validation` but still got error:

[code]

When I disconnect from my company VPN, it's fine.

[2016-03-02 14:28] mkohlmyr commented on #42
Pretty sure I have ddg / bing / google basically working with an -e flag for search engine selection. If it sounds interesting I could also add support for an environment variable to set the default.

[2016-03-02 15:44] santinic commented on #58
there is no --skip-ssl-validation, it shouldn't take much to implement it, can you do it ?

[2016-03-02 15:46] santinic commented on #57
thanks, fixed

[2016-03-02 15:46] #57 closed

[2016-03-02 16:22] onovy opened #59 "Make LICENSE DFSG compatible"
Hi,

i think license of this software is not DFSG compatible (https://people.debian.org/~bap/dfsg-faq.html + https://www.debian.org/social_contract.html#guidelines). I want to package it for Debian, but because of license I can't.

Can you consider changing license to any of:
https://wiki.debian.org/DFSGLicenses
please?

Thanks.

[2016-03-02 16:23] onovy opened #60 "Tag releases"
Hi,

can you use (ideally signed) tags for every release? This makes package maintainers life easier.

Thank you.

[2016-03-02 18:25] danyshaanan commented on #59
:+1:

[2016-03-02 18:47] danyshaanan commented on #60
:+1:

This line:
[code]
Will identify commits that changed the version in package.json, and output this:
[code]
Fixing the last two lines with 1.0.1 and 1.0.0 will let you easily add the missing tags.
Then just push them with:
[code]

Also, `npm info how2` will show that...:
[code]
this cover all releases.

(All of this assumes that the package was always released right after the `package.json` ve

[2016-03-02 18:55] danielkop commented on #46
@santinic How would you like to advance this? Finish implementing the -i? Document it? Or move it to a separate branch for now?

[2016-03-02 18:56] danielkop commented on #25
@santinic How's #51 as a solution to this issue?

[2016-03-02 18:59] danielkop commented on #59
:+1:

[2016-03-04 22:36] Hammster commented on #28
i really just clicked through everything. The quick solution is if you reset the settings and save them, then restart the program. I try to find the values i changed to get a more precise answer.

[2016-03-07 14:58] mkohlmyr commented on #42
Ping @santinic re commits above :loudspeaker:

Happy to squash them if you feel that's cleaner, or if you want me to rename / restructure any of the changes.

[2016-03-07 19:58] santinic commented on #42
@mkohlmyr sorry for the delay, that's amazing, please make it a pull request

[2016-03-07 20:08] santinic commented on #42
@mkohlmyr sorry for the delay. It looks really good !  I have two questions:
- I seem to get fewer answers with google compared with the node-google, do you know why?
- With bing, I get this:

[code]

[2016-03-07 20:21] santinic commented on #59
@onovy thanks, packages are very much appreciated. Unfortunately it seems that I cannot have non-military clauses and still be open-source by any definition. I'm a bit sad.

I changed to MIT, and published the npm module again.

[2016-03-07 20:21] #59 closed

[2016-03-09 16:52] mkohlmyr commented on #42
- You're right, I didn't include the `num` querystring parameter for the google URL. What number would you like? node-google sets a default of 10 and a max of 100 I believe.
 - I will take a look at that over the next few days, I did notice sometimes bing struggled to return answers for some queries.

I'll hit you back up by the end of the weekend probably with some updates.

[2016-03-14 15:47] mkohlmyr commented on #42
So I have done some investigating.

Your error is probably a rate limiting page that I was unaware of. It would be easy to improve the printing of the parameters, I could also create a special error message for this case by looking at the source it brings back.

FWIW it also looks like Bing has a tendency to return questions that have been closed by the user, moderator or have no answers, all of w

[2016-03-15 10:27] luigimannoni opened #63 "How2 crashes when pressing space while viewing a question with no answers"
Steps to reproduce:
- Ask a question
- Press space to see more choices
- Find a question with no answers
- Press space on the empty answer list

<img width="988" alt="screen shot 2016-03-15 at 10 24 29" src="https://cloud.githubusercontent.com/assets/1405327/13774684/2c000c3a-ea98-11e5-9ebe-0d6821073476.png">

[code]

[2016-03-15 12:37] danyshaanan commented on #63
BTW, to reproduce the problem I used this question:
[code]
(second question has no answers)

[2016-03-18 19:47] tildebyte commented on #28
Almost works in Gnome Terminal 3.18 running on latest Cyg/X x64 (Windows 7). First result is retrieved as expected, then I also get `TypeError: process.stdin.setRawMode is not a function`. I'm not so hung up on terminal magic (colors etc.) but the list of results would be nice to have. Thx, btw. This has really nice features compared to e.g. `howdoi`

[2016-03-21 13:45] ghost opened #66 "Add option to search for what was typed in instead of Google's "correction""
Google auto"corrects" some searches. Could you implement a workaround?

[2016-03-21 14:35] danyshaanan commented on #66
@mipesom Can you write down the steps to how to reproduce the problem? What's the command you are running and how you'd expect it to behave?

[2016-03-21 23:42] joaovcarvalho opened #67 "TypeError: process.stdin.setRawMode is not a function"
"Cannot fetch answers from Stackoverflow.
TypeError: process.stdin.setRawMode is not a function."

This message occurs every time I use the command how2.
I'm using windows 10 and using Git Bash command line.

Kind regards,

[2016-03-22 09:18] danyshaanan commented on #67
Under discussion here: https://github.com/santinic/how2/issues/28

[2016-03-25 02:45] saildata commented on #33
@santinic  Would it be easier to provide a hyperlink in the terminal?

[2016-03-26 18:12] danielkop commented on #66
A fix should basically be adding "nfpr=1" to the search url parameters.

[2016-05-03 12:02] smmoosavi opened #68 "error after pressing space"
every time I press space following error shown:
[code]

[2016-05-11 08:24] smmoosavi commented on #68
I found that this error occurs when I use [sinopia](https://github.com/rlidwka/sinopia/)

[code]

[2016-05-11 08:35] danyshaanan commented on #68
@smmoosavi - Can you compare your how2 version in both cases, and if identical, compare the versions of its dependencies when installed with and without?

[2016-05-11 10:13] smmoosavi commented on #68
[code]

[2016-05-11 10:55] danyshaanan commented on #68
Please give exact reproduction steps so that we could test this, and include OS type and version, node version, and npm version.

[2016-05-11 11:03] smmoosavi commented on #68
If you want to reproduce error:
[code]

Ubuntu 14.04 LTS
npm 3.3.12
node v5.1.0

[2016-05-11 11:12] danyshaanan commented on #68
Probably an issue with [npm-latest](https://www.npmjs.com/package/npm-latest), originating in [this line](https://github.com/santinic/how2/blob/c75c0e34c97bd2ec107f9f14b5de773030ffa0ad/lib/updates.js#L10).

Could you please run:
[code]
?

[2016-05-11 11:19] smmoosavi commented on #68
yes, you are right.
with sinopia
[code]
with default registry
[code]

[2016-05-30 05:59] tanrax opened #69 "Integration with Emacs and vim?"
Is there any possibility to integrate with IDE or other text editors?

Thanks!!!

[2016-05-31 09:57] wayneashleyberry opened #70 "DeprecationWarning: process.EventEmitter is deprecated. Use require('events') instead."
I get the following deprecation notice when running `how2`

[code]

Here's some debug information:

[code]

[code]

[code]

Here's a screenshot :)

![screen shot 2016-05-31 at 11 57 23 am](https://cloud.githubusercontent.com/assets/727262/15670659/dbed5290-2726-11e6-8ab4-36ecc90752e3.png)

[2016-07-26 08:08] #63 closed

[2016-08-16 14:55] jericson opened #71 "Include a link to the answer"
By default, answers provided by `how2` come from Stack Overflow, which has an [attribution policy](http://blog.stackoverflow.com/2009/06/attribution-required/). It's pretty typical to include a comment with a link to the SO answer when using code, so it would be good to include the answer link in the output.

I hacked together [a patch](https://github.com/jericson/how2/commit/0371f9a8ff6fbd489970a

[2016-08-29 14:26] NikhilDoWhile opened #74 "Cannot connect to Google."
Error while trying to search for a query:

`|(node:21174) DeprecationWarning: process.EventEmitter is deprecated. Use require('events') instead.
|Cannot connect to Google.
Error: Error on response:Error: socket hang up : undefined
`

**OS**: Ubuntu 16.04
**Node version**: v6.3.1
**npm version**: 3.10.3

[2016-10-19 19:20] goibon commented on #70
The warning comes from the [`devnull`](https://github.com/observing/devnull/) module. They've already fixed it in their master branch by accepting [a pull request](https://github.com/observing/devnull/pull/4) but they have yet to bump the version in their package.json file to allow people to update through npm.

You could go bump [this issue](https://github.com/observing/devnull/issues/5) in hopes

[2016-10-23 19:13] #68 closed

[2016-10-27 04:27] cglong commented on #70
I tried installing `how2` today and when running, I get the following error and it exits out:

[code]

Any ideas around this? 😄

[2016-10-27 06:27] goibon commented on #70
@cglong What version of Node are running? Because this issue is regarding the deprecation of the EventEmitter which as of Node 7 is gone and how2 will only work with versions <= 6.x.x

[2016-10-27 07:16] cglong commented on #70
@goibon Yeah, I just double-checked, and I'm running Node `7.0.0`. I should be able to downgrade my local Node, but we'll need a more-permanent solution for other users who (like me) updated their version of Node to `7.0.0` using [Homebrew](http://brew.sh/) or another package manager. Thanks! 😄

[2016-10-27 07:39] goibon commented on #70
@cglong No problem 😄
I'm frustrated myself as a Homebrew user that I can no longer use how2 without modifying the local `devnull` module 😞
The options I see are:
1. Switch away from `devnull` as a dependency for `how2`
2. Get `devnull` to bump their version so we can get their fix by running `npm update`

[2016-10-27 20:58] pablobfonseca opened #77 "TypeError: Cannot read property 'prototype' of undefined"
I'm not able to make any search, I'm getting this error:
![screen shot 2016-10-27 at 6 56 09 pm](https://cloud.githubusercontent.com/assets/5843859/19785164/2f505ef8-9c77-11e6-82e8-485d986e9084.png)

**OS:** MacOSX
**Node:** v7.0.0
**NPM:** 4.0.1

[2016-11-02 22:38] wolfo commented on #1
Still happening to me with macOS 10.12.1, node 7.0.0, how2 1.1.0:
[code]

[2016-11-03 04:26] daltonnyx commented on #77
I got this error too. I think this happened after i updated to node v7

[2016-11-03 17:26] pablobfonseca commented on #77
Right, thanks @daltonnyx , I'm gonna wait for the PR, I think we're good to close it.

[2016-11-03 17:26] #77 closed

[2016-12-13 10:33] cargoge commented on #58
this is the worst patch i could think of : dirty , simple and unsecure.
[forked unsafe repo](https://github.com/cargoge/how2/blob/master/lib/how2.js)

Be aware : the two lines i added disable https and ssl certificate validation

[2016-12-13 23:37] ctemplin opened #78 "Linux can't handle --no-deprecation argument in shebang."
The entire string following the interpreter name is passed as a single argument to the interpreter.

Apparently there is no good solution for this yet.

My favorite [workaround](https://github.com/smikes/node/blob/minus-x-switch/doc/Minus-X-Switch-Proposal.md#alias) looks like this in my .bashrc:

`alias how2='/usr/bin/env node --no-deprecation "$(which how2)"'`

[2016-12-17 10:19] tanrax opened #79 "osx: TypeError: Cannot read property 'prototype' of undefined"
`how2 -l bash zip only jpg`
[code]

Node -v
v7.2.1

[2016-12-21 05:31] dionisokan commented on #79
+1. Same problem here, got exactly the same output.

[2016-12-29 14:59] moongod101 commented on #79
Same problem
Node -v
v7.3.0

[2016-12-30 21:52] Uncleleech commented on #79
+1 7.3.0 here as well

[2017-01-05 15:37] wengyk commented on #79
+2 7.3.0 here as well

[2017-01-06 14:29] looneym commented on #79
Getting this on OSX 10.11.5

Node version v7.1.0

😞

[2017-01-09 12:18] seanbourkemckenna commented on #79
Same as above.

[2017-01-09 12:53] felixfong227 commented on #79
![image](https://cloud.githubusercontent.com/assets/13918481/21767206/9eb1a304-d6ad-11e6-95a1-77b95e7aeabe.png)
Something do with that `how2` module?

[2017-01-18 02:53] SpyderSC commented on #79
Same problem with node version v7.4.0

[2017-01-19 21:42] rafa2000 commented on #79
Same problem with macOS Sierra 10.12.2 and node v7.4.0.

[2017-01-28 05:10] cole-brokamp commented on #79
same problem with macOS Sierra 10.12.3 and node v7.4.0

[2017-01-28 16:41] xNephe commented on #79
Same problem here, with Manjaro Linux (Archlinux based distribution) and node v7.4.0.

[2017-02-06 09:02] snyk-community opened #81 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
  - [Content &amp; Code Injection (XSS)](https://snyk.io/vuln/npm:marked:20150520?utm_source=gh_issue)
  - Affected package: marked &lt;0.3.6

[Here is the test report for this repo. ](https://snyk.io/test/github/santinic/how2?utm_source=gh_issue)
If you’d like to fix this vulnerability, Snyk lets you generate a pull request t

[2017-02-09 11:04] PaoloCifariello commented on #79
This seems to be caused by [devnull](https://github.com/observing/devnull) and the way it imports the [EventEmitter](https://nodejs.org/api/events.html#events_class_eventemitter) [here](https://github.com/observing/devnull/blob/master/transports/transport.js#L8).

I recently updated Node.js, so I ended up having this issue. As a temporary workaround I forked both `devnull` and `how2`, fixed the is

[2017-03-01 13:57] AndreasHeiberg commented on #79
Still have this problem on node v7.4.0

[2017-03-16 04:49] phillip-elm commented on #79
Still an issue. Node v7.7.3.

[2017-03-27 11:59] npit commented on #79
Still an issue, as above.

[2017-03-28 08:16] Mykolaichenko opened #82 "DeprecationWarning"
Hello,
Thanks for nice tool!
Here is DeprecationWarning:
`|(node:65170) DeprecationWarning: process.EventEmitter is deprecated. Use require('events') instead.`

Kind regards

[2017-04-17 02:34] thenewvu commented on #79
I've just dealt with this issue, actually we can solve it by ourself just in 1 minute:

Open this file: `/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js` (this path depends on our OS and the way you used to install node.js) and replace:

[code]
by:

[code]
That's it, enjoy the good part and forget the ugly part :)

[2017-04-17 09:45] looneym commented on #79
![image](https://cloud.githubusercontent.com/assets/12705417/25085593/f5a4354c-235a-11e7-8562-4f3d139f78a5.png)

[2017-05-01 13:43] #70 closed

[2017-06-02 06:30] klprint commented on #82
It seems as if there is nobody actively working on this project, anymore. This is really unfortunate, I also get the warning..

[2017-06-02 07:28] kaustubhhiware commented on #82
+1. Same error.

[2017-07-31 13:12] danielsetreus opened #83 "TypeError: Cannot read property 'prototype' of undefined"
Running MacOs 10.12.5. Built in terminal and iTerm gives this error:

`$how2 hello world
/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js:59
Transport.prototype.__proto__ = EventEmitter.prototype;
                                            ^

TypeError: Cannot read property 'prototype' of undefined
    at Object.<anonymous> (/usr/local/lib/node_modules/how2/node_modul

[2017-07-31 13:15] danielsetreus commented on #83
Woops and sorry. Notice this issue already exists.

https://github.com/santinic/how2/issues/79

Disregard this post.

[2017-09-05 18:14] #30 closed

[2017-09-19 10:27] hakunin commented on #79
@santinic Can I tip you some beer money to fix this?

[2017-09-19 10:37] hakunin commented on #79
@PaoloCifariello

[code]

somehow its solving something else :) is there a repo I can log this into?

[2017-11-23 10:11] mre commented on #79
Just a small addition to what @thenewvu said:
If you're using nvm on macOS, the path to the transport.js file is
[code]
On my machine, `${NVM_DIR}` exands to `~/.nvm`.

[2018-02-02 01:24] dancyfits commented on #79
Looks like devnull dev's may have forgotten about their project.
Their updated repo (mostly) fixes this problem, but they seem to have forgotten to run ```npm publish``` a year and a half ago.

Fixes above from @thenewvu and @mre are the way to go if you are just trying to use how2.
(Also, if you used yarn to install, the path is ```/Users/USERNAME/.config/yarn/global/node_modules/devnull/transpor

[2018-02-02 09:30] PaoloCifariello commented on #79
@dancyfits I don't think devnull is gonna be developed again (last commit is Nov 16, **2016**).
Since it was used as a logger without any fancy stuff I decided to move from [devnull](https://www.npmjs.com/package/devnull) to [winston](https://www.npmjs.com/package/winston) in [my fork of how2](https://www.npmjs.com/package/how-2).

[2018-02-02 09:44] dancyfits commented on #79
@PaoloCifariello Good to know!  I should've just looked for an alternative logger from the beginning

[2018-02-02 09:50] dancyfits commented on #79
@PaoloCifariello Any reason for not making a pull request? Got some fancy additions planned? 😉

[2018-02-02 10:09] PaoloCifariello commented on #79
Didn't open a PR because I think @santinic is not working at this repo anymore 😕 (there are 10 really old open PR and many issues as well).

[2018-02-22 04:43] dataf3l commented on #79
it hurts me to write this, but I found the solution:

npm rm how2
npm install -g how-2

the executable is still called how2.

This is a sad state of affairs...

[2018-03-27 08:04] RobbyDmz commented on #79
This issue is now 16 months old and requires a 5 minute fix. @santinic maybe it's time to flag it as abandoned, put it up on some of the 'maintainers wanted' lists, or just plain hand the npm package over to the person that released how-2.

[2018-03-27 13:19] santinic commented on #79
@PaoloCifariello Ma sei bravissimo! Can we get a Pull Request ?

[2018-03-27 13:22] looneym commented on #79
mfw there's a reply from  @santinic

![image](https://user-images.githubusercontent.com/12705417/37970011-3c9a1ff6-31ca-11e8-8db3-d5a2fe64bf6f.png)

[2018-03-27 13:29] santinic commented on #79
Guys, the sun shines in Italy, I cannot spend my life fixing issues 😎
Anyone is willing to take control of the project ? @PaoloCifariello ?

[2018-03-27 13:31] PaoloCifariello commented on #79
Lol, sun shines for me too in Italy 😂
I could take control of this, but because of a serious lack of time I will probably just check/review issues & PRs.

[2018-03-27 14:13] santinic commented on #79
That would be enough already! I sent you a Collaborator request

[2018-03-28 09:44] PaoloCifariello commented on #79
Yeh, thank you @santinic, I accepted that, but still I can't push to NPM.
Shall we move from how2 to how-2 (which I created from my NPM profile) so that I can push new versions from this repository?

[2018-03-28 15:54] #83 closed

[2018-03-28 16:28] santinic commented on #79
You should now be maintainer of how2 npm as well. Do as you wish.

[2018-03-28 16:39] dataf3l commented on #79
@PaoloCifariello, @santinic Thank you both, your efforts make the world a better place.
@PaoloCifariello can i haz upvote from the console?

[2018-04-28 07:54] questionpython opened #86 "Problem in Using!"
$ how2 -l python hello world
---------------
[code]
$ how2 hello world
-----------------
[code]

but after press Space , its show list.(correct).

why show many log and message in console?!

[2018-05-15 03:46] jamesalbert commented on #86
I am also getting the `TypeError: Cannot read property 'indexOf' of null` error with `how2 cat`

[2018-05-15 09:05] PaoloCifariello commented on #82
Fixed in #85.

[2018-05-15 09:05] #82 closed

[2018-05-15 09:06] PaoloCifariello commented on #79
Fixed in #85.

[2018-05-15 09:06] #79 closed

[2018-05-22 11:05] terminalcommand opened #89 "Type Error: Cannot read property 'prototype' of undefined"
I'm using arch linux, just installed how2 via npm.  I'm using npm version 6.0.0. I've installed how2@1.5.0.

Whenever, I try to use it, I get the following error:

[code]

[2018-05-22 11:13] PaoloCifariello commented on #89
Hi @terminalcommand, thank you for the report.
This issue was discussed in #79 and is currently solved on GitHub.
In the README we still point to `how2` NPM repo, while the updated one is `how-2`.

TL;DR;
[code]

[2018-05-22 11:13] #89 closed

[2018-05-22 12:41] terminalcommand commented on #89
Thank you for the super quick response! Much appreciated.

[2018-06-18 20:22] a-marionette opened #90 "Sublime or Alfred plugin?"
Is there an existing Sublime or Alfred plugin? I found a Sublime plugin available for how2-rs but I'd rather stick to the original. If there is nothing in the works, I'd be interested in taking a look at the seeing how to implement this into Alfred.

[2018-09-21 02:29] TheManticore opened #91 "Error: Cannot read property 'prototype' of undefined."
$ how2 hello world
/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js:59
Transport.prototype.__proto__ = EventEmitter.prototype;
                                             ^

TypeError: Cannot read property 'prototype' of undefined
    at Object.<anonymous> (/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js:59:46)
    at Module._compile (mod

[2018-09-21 12:13] PaoloCifariello commented on #91
Hi @TheManticore, take a look at #89 and my previous comment (https://github.com/santinic/how2/issues/89#issuecomment-390953309) which should solve the problem.

[2018-09-21 12:13] #91 closed

[2018-09-22 11:26] TheManticore commented on #91
Well now, it seems I need to update my deployment script. Thanks!

[2018-09-28 10:50] #71 closed

[2018-09-28 10:51] #8 closed

[2018-11-21 14:30] ivanovaos commented on #77
Found a quick fix for later node. In devnull/transport/transport.js just changed two lines:

line 8: var EventEmitter = require('events');
line 59: Transport.prototype.__proto__ = Object.create(EventEmitter.prototype);

Works fine after that!

[2019-03-10 22:48] dietercastel commented on #81
This should be solvable by just upgrading the current dependency marked (and maybe marked-terminal?) to their latest version:
https://github.com/santinic/how2/search?q=marked&unscoped_q=marked

Version 0.6.1 that is:
https://www.npmjs.com/package/marked

I don't think the vulnerability has a big impact on this project since it's not rendered in browser and only on the client. But it's neat to have

[2019-04-25 10:39] firas96 opened #92 "Unexpected token function when trying to launch how2"
i just installed how2 using :

the how-2 version is  :  how-2@1.7.1

however when i try to to launch how2 i get the following error

[code]

~# npm --v   . outputs  --- 3.10.10
~# node --version  . outputs  --- v6.13.1
~# uname -a  . outputs --- Linux krang 4.19.0-kali4-amd64 #1 SMP Debian 4.19.28-2kali1 (2019-03-18) x86_64 GNU/Linux

[2019-06-19 03:47] josephhyatt opened #93 "Sorry, I cannot find any reasonable answer for your query."
No matter what question I ask (even your example question) I keep getting "Sorry, I cannot find any reasonable answer for your query."

Example question:
how2 read file while is changing

[2019-06-20 08:14] pgcudahy commented on #93
Same here

[2019-06-20 17:38] amishPro commented on #93
Same here. No matter what questions it returns "Sorry, I cannot find any reasonable answer for your query." I have installed it with "sudo npm install -g how-2".

[2019-06-21 14:07] Tom-Hayes commented on #93
Same here!

[2019-06-29 05:28] aranmohyeddin commented on #93
same here even with the question `how2 unzip bz2` which is illustrated in the readme:))
I installed without sudo.

[2019-07-08 09:48] martinstepanek commented on #93
Same here and because last version is 3 years old, I guess one of the APIs changed.

[2019-07-21 17:53] dubiouscript commented on #28
:jack_o_lantern:  :scroll:

[2019-07-29 17:03] LeonAlvarez commented on #93
still broken

[2019-07-31 11:27] PaoloCifariello commented on #93
Hi guys and thank you for letting me know about this.

I immediately thought that this was caused by https://github.com/jprichardson/node-google.
I discovered that the library successfully retrieves an HTML containing the results, but unfortunately something changed in the response format, hence results are no more correctly parsed (this should be the broken line https://github.com/jprichardson/no

[2019-07-31 11:35] tomhayes commented on #93
I really wish I had the know-how to help you out with this, sorry!

<http://tomhay.es>

Tom Hayes Web/Graphic Designer
hello@tomhay.es | http://tomhay.es
07889874933

[image: Twitter]  <https://twitter.com/tomhayesdesign> [image: LinkedIn]
<https://www.linkedin.com/in/tdhayes> [image: Skype]  [image: Facebook]
<https://www.facebook.com/tomhayesdesign>

On Wed, 31 Jul 2019 at 12:27, Paolo Cifariell

[2019-08-15 14:56] VladimirMikulic commented on #93
I've noticed that also, but since I discovered a new library that is maintained, I decided to modify it a bit to suit our needs and removed the old one.

I can do it in the next PR :smile:

[2019-08-15 15:43] VladimirMikulic commented on #93
@josephhyatt @pgcudahy @tomhayes @aranmohyeddin while we wait for the PR to be processed, you can download and install how2 from [my Github repo](https://github.com/VladimirMikulic/how2) and test it.

[code]

Enjoy  :rocket: :rocket: :rocket:

[2019-08-29 07:59] petRUShka commented on #93
@VladimirMikulic, could you please provide release section with downloadable `tgz` npm package?

Like this one from npm repository: https://registry.npmjs.org/how2/-/how2-1.7.1.tgz

It is needed to create Arch linux PKGBUILD.

[2019-08-29 08:28] VladimirMikulic commented on #93
@petRUShka as you wished, I added a release section. Good luck with Arch BTW :)

[2019-08-29 09:41] petRUShka commented on #93
@VladimirMikulic, thanks!

[2019-08-29 10:49] aranmohyeddin commented on #93
@petRUShka  Thank you for maintaining the PKGBUILD ;)

[2019-08-29 20:14] petRUShka commented on #93
@aranmohyeddin, @VladimirMikulic, `how2` package uses @VladimirMikulic fork right now.

[2019-08-29 21:18] VladimirMikulic commented on #93
@petRUShka I'll keep it updated, feel free to suggest new features & report bugs.
I fixed the "b" keyboard shortcut for opening a link in the browser.
I could also publish it to the NPM registry, it would be easier to install(and keep it up to date).

[2019-09-17 19:48] VladimirMikulic commented on #92
@firas96 Update your Node.js version. Async & Await keywords are not supported by node versions < 7.6. I would recommend you to update Node.js to the most recent version.

[2019-09-21 02:22] iamaziz commented on #93
@VladimirMikulic I wanna give to likes if GitHub allows! Big Thanks 👍🏻

[2019-09-21 18:01] PaoloCifariello commented on #93
@VladimirMikulic thanks a lot for suggesting `google-it` as new package to query Google and obtain results.
I saw you forked `google-it` to make some small adjustments, but I preferred to keep the ["official version"](https://github.com/PatNeedham/google-it/) as it seems to be constantly updated.

I just updated `how-2` to `1.8.0` on NPM and merged in masters the code using the new package.
Thanks

[2019-09-21 18:01] #93 closed

[2019-09-21 18:10] VladimirMikulic commented on #93
@PaoloCifariello glad you came back. Next time when you want to go on vacation feel free to message me :)

[2019-09-26 10:10] dataf3l opened #96 "OSX problem TypeError: Cannot read property 'prototype' of undefined"
I'm using node8

$ yarn install -n how2
yarn install v1.17.3
info No lockfile found.
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...
[4/4] 🔨  Building fresh packages...
success Saved lockfile.
✨  Done in 0.11s.

$ how2 help
/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js:59
Transport.prototype.__proto__ = EventEmitter.prot

[2019-09-26 10:14] dataf3l commented on #96
I updated node to 12 and I still have the same problem:

[b@localhost:~]$ which node
/usr/local/bin/node
[b@localhost:~]$ node --version
v12.11.0
[b@localhost:~]$ npm install -g how2
/usr/local/bin/how2 -> /usr/local/lib/node_modules/how2/bin/how2
+ how2@1.5.0
updated 1 package in 7.691s
[b@localhost:~]$ how2 help
/usr/local/lib/node_modules/how2/node_modules/devnull/transports/transport.js:59
Tra

[2019-09-26 12:02] svscorp commented on #93
Hi @PaoloCifriello,

Thank you for returning on that. Not sure it is related to the latest fix, but strangely after update query like "how2 fly to the moon" return error. Maybe it should resolve it that way for these non-it related queries.

[2019-10-02 14:07] FarisMarouane opened #97 ""ETIMEDOUT" error logged to console when pressing space for more choices"
When I press space to look for more answers, an error message is logged to my console:
{ Error: ETIMEDOUT ... } originating from the request library.

The program (how2) however doesn't crash, the error message is logged in between answers.

I use ubuntu 18.10

[2019-10-07 07:37] PaoloCifariello commented on #96
Hi @dataf3l.
This is an issue with `devnull` dependency that was already discussed and solved. (https://github.com/santinic/how2/issues/89)

TL DR. You should use `how-2` instead of `how2` to get last updates.

[2019-10-07 07:37] #96 closed

[2019-10-11 12:59] fhamborg opened #98 "SyntaxError: Unexpected token function"
latest version, fresh install.

[code]

[2019-10-15 12:27] PaoloCifariello commented on #98
Hi @fhamborg, what version of node are you using to run how2?

[2019-10-15 12:41] fhamborg commented on #98
It's `v6.9.5`

[2019-10-15 14:16] PaoloCifariello commented on #98
how2 uses `async/awat`, which are available from version `7.6` of node

[2019-10-15 16:08] fhamborg commented on #98
Oh, I'm sorry! Upgraded to 10.16 and it's working fine! Thank you! :-)

[2019-10-15 16:08] #98 closed

[2019-11-21 16:06] albertotn opened #99 "Query error with mongodb"
Running following command:

`how2 mongodb query aggregation`

give that error:

[code]

[2020-04-03 12:08] ahaverty commented on #99
I'm getting a similar error with `how2 delete local merged branches`

[2020-05-26 12:10] Aleandro-max opened #100 "Ver depois"

[2021-02-03 19:42] Ashtonian commented on #10
brew formula would be nice for people who don't have a reason to install node/npm.

[2021-02-19 09:33] #100 closed

[2021-05-07 08:12] LinqLover opened #107 "Clarify npm package"
ATM, there are both https://www.npmjs.com/package/how2 and https://www.npmjs.com/package/how-2. I guess we are expected to install the later, so could you maybe deprecate the former?

[2021-11-03 18:30] ignition-ctrl opened #110 "[Feature request] Any other way of installing how2 without npm?"
Many people don't have NPM installed, and personally I don't use it and rather not waste space on my setup. This looks like a really useful project, but I don't want to install npm to get how2. I saw this as well #10
Any other way of installing?

[2022-02-27 15:19] sisrfeng commented on #40
+1

My setting in zshrc
[code]

How to modify the zshrc to enable how2 ?
@yejijie

Thx

[2022-04-14 02:12] wip0 opened #112 "[Windows] Crash after pressing space"
Hi,
After how2 showing the result, I pressed SPACE to see more results. It showed a few seconds and crashed.
Here is the stacktrace.

`TypeError: Invalid Version: null
    at new SemVer (C:\Users\silve\AppData\Roaming\nvm\v16.14.2\node_modules\how-2\node_modules\semver\semver.js:279:11)
    at compare (C:\Users\silve\AppData\Roaming\nvm\v16.14.2\node_modules\how-2\node_modules\semver\semver.js:566

[2022-04-15 05:49] igoracmelo opened #113 "Explain how it works on README.md"

[2022-04-15 05:50] #113 closed

[2022-06-13 08:55] basilioss opened #115 "Sorry, I cannot find any reasonable answer for your query"
I tried to install how2 via AUR and npm. It gives this answer for every question.

[2022-08-10 18:21] basilioss commented on #115
Tried to install it again with `sudo npm install -g how-2` and it works now.

[2022-08-10 18:21] #115 closed

[2022-10-19 22:26] #112 closed

[2022-10-19 22:26] santinic commented on #110
working on it

[2022-10-19 22:26] #110 closed

[2022-10-19 22:27] #107 closed

[2022-10-19 22:27] #78 closed

[2022-10-19 22:27] #81 closed

[2022-10-19 22:28] #46 closed

[2022-10-19 22:28] #10 closed

[2022-10-19 22:29] #69 closed

[2022-10-19 22:29] #29 closed

[2022-10-19 22:29] #67 closed